.form {
    margin: 5vh 0;
    input {
        width: 250px;
        height: 30px;
    }
    button {
        width: 100px;
        height: 30px;
        border: 1px solid lightgrey;
        background-color: transparent;
        &:hover {
            background-color: black;
            color: white;
        }
    }
    .message {
        color: tomato;
        text-align: center;
        padding: 10px;
        font-weight: 700;
    }
}