$colorForList: rgb(87, 87, 87);

.wrapper {
    height: 10vh;
    margin: 1px;
}

.rectangle {
    width: 100px;
    height: 40px;
    box-shadow: 0 0 5px 0 $colorForList;
}

.text {
    text-align: center;
    margin: 5px;
    color: $colorForList;
    button {
        color: white;
        border-radius: 50px;
        border: 1px solid $colorForList;
        background-color: $colorForList;
        padding: 0 5px;
        margin: 0 5px;
        font-size: 10px;

        &:hover {
            background-color: black;
        }
    }
}