* {
    box-sizing: border-box;
    font-family: 'AlegreyaSC-Regular';
}

.mainWrapper {
    margin: 8vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapperForForms {
    display: flex;
    justify-content: space-around;
}

.wrapperForList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.infoBlock {
    margin: 20px 0;
    padding: 7px;
    background-color: rgb(56, 56, 56);
    color: white;
}